@model AnimeTracker.Models.Anime

<br />
<br />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anime</title>

    <link href="~/css/viewscss/getall.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h3><b>List of all Animes</b></h3>
        @*<div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>*@
        <table class="table table-striped" id="datatable">
            <thead>
                <tr>
                    <th>Anime Name</th>
                    <th>Total of Episodes</th>
                    <th>Anime Release Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var anime in ViewBag.Anime)
                {
                <tr class="Search">
                    <td><b>@anime.animename</b></td>
                    <td>@anime.episodes</td>
                    <td>@anime.release_date</td>
                    <td>
                        <a href="moreinfo/@anime.anime_id" class="seemore"><b>>>More Details</b></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script>
            $(document).ready(function () {
                function Contains(compare_one, compare_two) {
                    if (compare_one.indexOf(compare_two) != -1)
                        return true;
                }
                $("#Search").keyup(function () {
                    var search_text = $("#Search").val().toLowerCase();
                    $(".Search").each(function () {
                        if (!Contains($(this).text().toLowerCase(), search_text)) {
                            $(this).hide();
                        }
                        else {
                            $(this).show();
                        }
                    });
                });
            });
        </script>*@
    </div>
</body>
</html>
