@model AnimeTracker.Models.Anime

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>

    <link href="~/css/viewscss/edit.css" rel="stylesheet" />
</head>
<h1>Edit Anime data</h1>
@if (User.Identity.IsAuthenticated)
{
    <body>
        <a href="##" onClick="history.go(-1); return false;" class="bodylink"> Return to main page</a>
        <form method="post" asp-controller="anime" asp-action="Edit" enctype="multipart/form-data">
            <table class="container">
                <tr>
                    <td>Anime name</td>
                    <td>
                        <input type="text" asp-for="animename" required="required" />
                        <p style="font-style: italic;">If you update the name, add the image(s) to match the updated name!</p>
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>
                        <textarea asp-for="description" required="required" style="width:350px; height:150px"> </textarea>
                    </td>
                </tr>
                <tr>
                    <td>Type of show</td>
                    <td>
                        <input type="text" asp-for="show_type" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Total of episodes</td>
                    <td>
                        <input type="number" asp-for="episodes" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Airing</td>
                    <td>
                        <br /><br />
                        <input asp-for="airing" type="checkbox" /> Airing?
                        <p style="font-style: italic;">If the show IS airing, check the box</p>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>Genre</td>
                    <td>
                        <input type="text" asp-for="genre" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Studio</td>
                    <td>
                        <input type="text" asp-for="studio" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Source material</td>
                    <td>
                        <input type="text" asp-for="anime_source" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Anime rating</td>
                    <td>
                        <input type="text" asp-for="rating_pg" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Release date</td>
                    <td>
                        <input type="text" asp-for="release_date" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Broadcaster</td>
                    <td>
                        <input type="text" asp-for="broadcaster" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Official Website</td>
                    <td>
                        <input type="url" asp-for="off_link" />
                    </td>
                </tr>
                <tr>
                    <td>Upload image</td>
                    <td>
                        <input type="file" multiple name="files" />
                        @*<input type="file" name="file" />*@
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Save" />
                        <input type="hidden" asp-for="anime_id" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
}
</html>
