@model AnimeTracker.Models.Anime

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>

    <link href="~/css/viewscss/getall.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h3><b>List of all Animes</b></h3>
        <table class="table table-striped" id="datatable">
            <thead>
                <tr>
                    <th>Anime ID</th>
                    <th>Anime Name</th>
                    <th>Total of Episodes</th>
                    <th>Airing</th>
                    <th>Anime Release Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var anime in ViewBag.Anime)
                {
                <tr class="Search">
                    <td>@anime.anime_id</td>
                    <td>@anime.animename</td>
                    <td>@anime.episodes</td>
                    @if (!anime.airing)
                    {
                        <td>Not airing</td>
                    }
                    else
                    {
                        <td>Airing</td>
                    }
                    <td>@anime.release_date</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
