@model AnimeTracker.Models.AppUser

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>

    <link href="~/css/viewscss/edit.css" rel="stylesheet" />
</head>
<h1>Edit User data</h1>
@if (User.Identity.IsAuthenticated)
{
    <body>
        <a href="##" onClick="history.go(-1); return false;" class="bodylink"> Return to main page</a>
        <form method="post" asp-controller="user" asp-action="Edit" enctype="multipart/form-data">
            <table class="container">
                <tr>
                    <td>Username</td>
                    <td>
                        <input type="text" asp-for="username" required="required" />
                        <p style="font-style: italic;">
                            If you update your username, upload a profile picture too.
                            This is needed to update OUR way of displaying your picture again.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" asp-for="email" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>
                        <input type="text" asp-for="firstname" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                        <input type="text" asp-for="lastname" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td>
                        <br /><br />
                        <input asp-for="admin" type="checkbox" /> Admin?
                        <p style="font-style: italic;">If the user IS an admin, check the box</p>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>Update Profile Picture</td>
                    <td>
                        <input type="file" name="file" />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Save" 
                               onclick="return confirm('You will be signed out once you want to confirm your changes?')"/>
                        <input type="hidden" asp-for="user_id" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
}
</html>
